body{
    margin-top:20px;
    background:#eee;
}
.ui-w-40 {
    width: 180px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}
.text-right.mt-4 {
    margin-left: 900px;
}
#main{
    height: auto;
    width: 100%;


}
.sidebar{
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    
}
ul.list_sidebar{
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid #;
    list-style: none;
 
}
ul.list_sidebar li:hover{
    background: cadetblue;
}
ul.list_sidebar li a {
    text-decoration: none;
    text-align: left;
    color: #3333ff;
    display: block;
}

ul.list_sidebar li {
    
    margin: 7px;
    padding: 5px;
}
.maincontent{
    
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    
    
}
ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li img{
    height: 150px;

}
ul.product_list li{
    width: 20%;
    margin: 10px;
    float: left;
    height: 300px;
}
ul.product_list li a {
    text-decoration: none;
}
ul.product_list li img{
    width: 100%;
}
p.price_product{
    text-align:center;
    color: red;
    font-size:16px ;
    font-weight: blod;
}
p.title_product{
    text-align:center;
    color: #000;
    font-size:16px ;
    font-weight: blod;
}

.wapper_chitiet{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}
.img_chitiet{
    height: 215px;
    margin-top: 30px;
}
input.addtocart {
    border-radius: 16px;
    background: beige;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
}
.hinhanh_sanpham{
    
    float: left;
    width: 20%;
}
.chitiet_sanpham{
    float: left;
    width: 50%;
        margin-left: 100px;
}

/* Tabs */
.tabs {
margin-top: 40px;
  width: 100%;
  background-color: grey;
  border-radius: 5px 5px 5px 5px;
}
ul#tabs-nav {
  list-style: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
}
ul#tabs-nav li {
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 8px 10px;
  border-radius: 5px 5px 5px 5px;
  /*border: 1px solid #d5d5de;
  border-bottom: none;*/
  cursor: pointer;
}
ul#tabs-nav li:hover,
ul#tabs-nav li.active {
  background-color: black;
}
#tabs-nav li a {
  text-decoration: none;
  color: #FFF;
}
.tab-content {
  padding: 10px;
  border: 5px solid grey;
  background-color: white;
}

/* Just for CodePen styling - don't include if you copy paste */
html {
  margin: 0;
  padding: 0;
}
body { 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  margin: 2em;
}



    .placeholder-search{
        border: 1px solid black;
        border-radius: 10px;
        height: 30px;
    }
    .btn-search{
        height: 30px;
        border-radius: 6px;
        background-color: #D3D3D3;
    }
    .btn-search:hover{
        height: 30px;
        border-radius: 6px;
        background-color: #ADD8E6;
    }
